:root {
    --main: #28231C;
    --card-color: #655356;
    --light-blue: #A9BCD0;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes playerAttack {
    50% {
        transform: translateY(-80px);
    }
}

@keyframes opponentAttack {
    50% {
        transform: translateY(80px);
    }
}

@keyframes opponentDamaged {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    20% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    40% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    60% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    80% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    100% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
}

@keyframes killCard {
    to {
        background: #000;
        height: 0;
        opacity: 0;
    }
}

@keyframes placeCard {
    from {
        height: 0;
        opacity: 0;
    }
    
    to {
        height: 16.875rem;
        opacity: 1;
    }
}

.cardExample {
    opacity: 0;
    position: absolute;
    top: 30%;
    z-index: 3;
    transition: opacity 200ms ease;
}

.spinner {
    opacity: 0;
    transition: opacity 200ms ease;
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 4;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid black;
    border-right: 2px solid transparent;
    animation: spinner 1.2s linear infinite;
}

main {
    position: relative;
    height: 100vh;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    overflow: hidden;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &.no-after::after {
        display: none;
    }
}

.opponentLife {
    position: absolute;
    font-size: 2.3rem;
    top: 2rem;
    left: 3rem;
    color: white;
}

.playerLife {
    position: absolute;
    font-size: 2.3rem;
    bottom: 2rem;
    left: 3rem;
    color: white;
}

.tutorial {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    z-index: 2;
    background: #444140;
    height: 20vh;
    width: 30vw;
    border-radius: .3rem;
    box-shadow: .1rem .1rem;
    transition: opacity 200ms ease;
    animation: appear .5s;
}

.tutoText {
    color: white;
    font-size: 1.3rem;
    transition: opacity 400ms ease;
    width: 65%;
    text-align: center;
}

#tutoOk,
#pularTuto {
    background-color: #28231C;
    border: none;
    color: white;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

#tutoOk {
    right: 10px;
}

#pularTuto {
    left: 10px;
}


.mana-indicator {
    position: absolute;
    font-size: 2.6rem;
    background: url(../assets/img/water-gif.gif);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1.8rem;
    transition: 200ms ease;
}

.board {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100rem;
    height: 56.25rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: rgba(239, 200, 139, 0.20);
    margin-top: 3rem;
    box-shadow: .3rem .3rem;
}

.card-field {
    width: 84.375rem;
    height: 16.875rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.slot {
    width: 11.18856rem;
    height: 16.875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #FFF;
    transition: 100ms ease;
}

.player-field .slot:hover {
    border: 3px solid #FFF;
}

.turn .coin {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    cursor: pointer;
    background: url('../assets/img/water-gif.gif');
}

.hand {
    position: absolute;
    width: 100%;
    height: 11.66294rem;
    bottom: 0;
    display: flex;
    gap: .2rem;
    justify-content: center;
    transform: translateY(15rem);
    transition: 500ms ease;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 11.18856rem;
    height: 16.875rem;
    border-radius: 0.625rem;
    border: 2px solid #000;
    background: var(--card-color);
    transition: 300ms ease;
}

.inHandCard:hover {
    transform: translateY(-8rem);
}

.exampleCardEffect {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.cardPic {
    width: 8.125rem;
    height: 6.5625rem;
    border-radius: 0.3125rem;
    border: 1px solid #000;
    align-self: center;
    margin-top: 1rem;
}

.cardCost {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardAttributes {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    bottom: 10px;
}

.cardStrength,
.cardDefense {
    display: flex;
    font-size: 1.3rem;
}

.card-icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
}

.hand-3-card-1,
.hand-4-card-1,
.hand-5-card-2 {
    transform: rotate(-5deg) translateY(.5rem);
}

.hand-3-card-3,
.hand-4-card-4,
.hand-5-card-4 {
    transform: rotate(5deg) translateY(.5rem);
}

.hand-5-card-1 {
    transform: rotate(-10deg) translateY(1.5rem);
}

.hand-5-card-5 {
    transform: rotate(10deg) translateY(1.5rem);
}

.cardName {
    font-size: 1.2rem;
    text-align: center;
    margin-top: .3rem;
}